.video{
  object-fit: cover;
  position: absolute;
  z-index: -1;
  aspect-ratio:var( '4:3');
  background-position: center;
}

.center-object {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  z-index: 1;
  transform-style: preserve-3d;
}

/*.coloring{
  font-family: sans-serif;
  font-size: 15vm;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(
  220deg,        
  red 19%,         
  transparent 19%, transparent 20%, 
  white 20%, white 39%,
  transparent 39%, transparent 40%, 
  red 40%, red 59%,
  transparent 59%, transparent 60%, 
  white 60%, white 79%, 
  transparent 79%, transparent 80%,
  red 80% 
);
-webkit-background-clip: text;
transform-style: preserve-3d;
z-index: 2;
  position:relative;
  line-height: 1;
  display: grid;
  min-height: calc(100vh-16px);
}*/

.coloring span {
  position: static;
  top: 50%;
  left: 50%;
  transform-origin: 0 100px;
  color: red;
-webkit-background-clip: text;
transform-style: preserve-3d;
  font-size: 5vw;
  animation: revolve 10s linear infinite;
  z-index: 2;
  margin: 0 5px;
  letter-spacing: 10px;
  word-spacing: 10px;
}

@keyframes revolve {
  0% {
    transform: rotateY(0deg) translateZ(500px);
  }
  100% {
    transform: rotateY(360deg) translateZ(500px);
  }
}